#darkmode {
    background-color: #121212;
}
#darkmode h1 {
    color: white;
}
#darkmode h1:hover {
    color: var(--neutral50);
}
#darkmode .navbar {
    background-color: var(--neutral100);
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.12);
}
#darkmode .form-control {
    background-color: transparent;
    color: var(--neutral10);
}
#darkmode .button-icon {
    background-color: transparent;
    outline: 1px solid var(--neutral10);
}
#darkmode .offcanvas-lg {
    color: var(--neutral10);
    background-color: #121212;
}
#darkmode p {
    color: var(--neutral50);
}
#darkmode .title-xtra-large:hover {
    color: var(--neutral60);
}
