#darkmode {
    background-color: #0f172a;
}
#darkmode h1 {
    color: white;
}
#darkmode h1:hover {
    color: var(--neutral50);
}
#darkmode .navbar {
    background-color: #0f172a;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.12);
}
#darkmode .form-control {
    background-color: #1e293b;
    box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.08);
    color: var(--neutral10);
    border: 1px solid var(--primaryColorTrooper);
}
#darkmode .button-icon {
    background-color: transparent;
    outline: 1px solid var(--primaryColorTrooper);
}
#darkmode .offcanvas-lg {
    color: var(--neutral10);
    background-color: #121212;
}
#darkmode p {
    color: var(--neutral50);
}
#darkmode .title-xtra-large:hover {
    color: var(--neutral60);
}
#darkmode .btn-darkmode {
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.1);
}
#darkmode #moon {
    fill: black !important;
}
#darkmode #light {
    fill: #c2c2c2;
}
#darkmode .desc-picture {
    color: var(--neutral50);
}
#darkmode .navbar ul li a {
    color: var(--neutral40);
}
#darkmode .error-404 h2 {
    color: var(--neutral10);
}
#darkmode .error-404 h5 {
    color: var(--neutral60);
}
#darkmode .error-404 span {
    color: var(--neutral60);
}
#darkmode .author h4 {
    color: var(--neutral10);
}
#darkmode .register-account {
    background-color: #1e293b;
    border: 1px solid var(--primaryColorTrooper);
}
#darkmode .form-group label {
    color: white;
}
#darkmode .form-check-label {
    color: var(--neutral40);
}
#darkmode .sign-up {
    color: white;
}
#darkmode .forgot-password {
    color: white;
}
#darkmode .forgot-password:hover {
    color: var(--neutral40);
}
#darkmode .sign-up:hover {
    color: var(--neutral40);
}
#darkmode footer {
    background-color: #0f172a;
    border-top: 1px solid var(--primaryColorTrooper);
}
#darkmode footer ul li a {
    color: white;
}
#darkmode footer ul li a:hover {
    color: var(--neutral50);
}
#darkmode footer span {
    color: var(--neutral40);
}
