#darkmode {
    background-color: #222;
}
#darkmode h1 {
    color: white;
}
#darkmode h1:hover {
    color: var(--neutral50);
}
#darkmode .navbar {
    background-color: #222;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.12);
}
#darkmode .form-control {
    background-color: #222;
    box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.08);
    color: var(--neutral10);
    border: 1px solid var(--primaryColorTrooper);
}
#darkmode .button-icon {
    background-color: transparent;
    outline: 1px solid var(--primaryColorTrooper);
}
#darkmode .offcanvas-lg {
    color: var(--neutral10);
    background-color: #121212;
}
#darkmode p {
    color: var(--neutral50);
}
#darkmode .title-xtra-large:hover {
    color: var(--neutral60);
}
#darkmode .btn-darkmode {
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.1);
}
#darkmode #moon {
    fill: black !important;
}
#darkmode #light {
    fill: #c2c2c2;
}
#darkmode .desc-picture {
    color: var(--neutral50);
}
#darkmode .navbar ul li a {
    color: var(--neutral40);
}
