footer {
    padding: 60px 0;
    margin-top: 60px;
    background-color: var(--neutral10);
    z-index: 100;
}
footer ul li a {
    font-size: var(--textMedium);
    color: var(--neutral100);
}
footer ul li a:hover {
    font-size: var(--textMedium);
    color: var(--neutral80);
}
footer ul li:not(:last-child) {
    margin-right: 40px;
}

footer span {
    font-size: var(--textSmall);
    color: var(--neutral80);
}
@media (max-width: 991.98px) {
    footer ul {
        flex-direction: column;
        text-align: center;
    }
    footer ul li:not(:last-child) {
        margin-right: 0px !important;
    }
    footer ul li:not(:last-child) {
        margin-bottom: 24px !important;
    }
}
