/* Styling For Navbar */
@media (min-width: 992px) {
    .navbar {
        padding: 24px;
    }
}
.navbar {
    padding: 8px;
    background-color: var(--neutral10);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}
.navbar ul li a {
    font-size: var(--textMedium);
    line-height: var(--LHMedium);
    color: var(--neutral80);
    font-weight: 500;
}
.navbar ul li a:hover {
    color: var(--primaryColorTrooper);
}
nav ul li:not(:last-child) {
    margin-right: 40px;
}
.form-control {
    padding: 6px 12px;
    border: 1px solid #c2c2c2;
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    font-size: var(--textSmall);
}
.form-control:focus {
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
    outline: 5px solid rgba(104, 121, 128, 0.2);
}
input::-webkit-input-placeholder {
    font-size: var(--textSmall);
}
.button-icon {
    background-color: #f5f5ff;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}
.button-icon:hover {
    background-color: var(--neutral30);
}
.button-icon:focus {
    background-color: var(--neutral40);
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}
.navbar-brand:hover {
    opacity: 0.8;
}
.btn-close {
    background-image: url("../image/close-icon.svg");
    background-size: cover;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    padding: 2px;
}
.btn-close:focus {
    box-shadow: none;
}
.button-menu {
    background-image: url("../image/hamburger-icon.svg");
    background-size: cover;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    padding: 2px;
}
.navbar-dark {
    background-color: var(--neutral100);
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.12);
}

@media (min-width: 992px) {
    .offcanvas-body {
        display: none !important;
    }
    .button-menu {
        display: none;
    }
}

/* Styling For Navbar */
