#list-reportase {
  margin-top: 120px;
}
#list-reportase a {
  color: var(--primaryColorTrooper);
  font-weight: 600;
}
#list-reportase a:hover {
  color: var(--neutral80);
  font-weight: 600;
}

.header-list a {
  color: var(--primaryColorTrooper);
  font-weight: 600;
}
